<!DOCTYPE html>
<html lang="en" ng-app="CommunityApp">
<head>
    <meta charset="UTF-8">
    <title>Community Homepage</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../static/js/community-ng-controller.js"></script>
    <script src="js/community-ng-controller.js"></script>
</head>
<body ng-controller="CommunityController">

{{! changing the mustache delimiter so it doesn't conflict with }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info }}
{{=<% %>=}}

<div ng-if="!currentUser"> Not Logged in
<!--<div>-->
On Community App page!!

<!--register    -->
<br/><br/>
First Name: <input type="text" ng-model="firstName"/> <br/>
Last name: <input type="text" ng-model="lastName"/> <br/>
Email: <input type="email" ng-model="email"/> <br/>
Password: <input type="password" ng-model="password"/> <br/>
Street Address: <input type="text" ng-model="streetAddress"/> <br/>
<input type="button" ng-click="register(firstName, lastName, email, password, streetAddress)" value="Register"/>

<br/>
{{loginContainer}}

<!--login-->
<br/><br/><br/><br/><br/>
OR login to your existing account:<br/>
Email: <input type="email" ng-model="loginEmail"/> <br/>
Password: <input type="password" ng-model="loginPassword"/> <br/>
<input type="button" ng-click="login(loginEmail, loginPassword)" value="Login"/>

{{loginContainerForLogin}}

</div>

<div ng-if="currentUser"> {{currentUser.responseMember.firstName}} is logged in
<button type="submit"><a href="/logout">Logout</a></button>

<!--<div>-->
<br/><br/><br/><br/><br/>

<!--add event-->
Add an event:<br/>
Event name: <input type="text" ng-model="newEventName"/> <br/>
Date: <input type="date" ng-model="newEventDate"/> <br/>
Location: <input type="text" ng-model="newEventLocation"/> <br/>
Information: <input type="text" ng-model="newEventInformation"/> <br/>
<br/>
<input type="button" ng-click="createNewEvent(newEventName, newEventDate, newEventLocation, newEventInformation, newEventOrganizer)" value="Create"/> <br/>

<br/>

<!--list all events-->
    <input type="button" ng-click="listTheEvents()" value="Get All Events"/>
    All Events: <br/>
    <span ng-repeat="event in listOfEvents">
    {{event.name}} {{event.date}} {{event.location}} {{event.details}} {{event.organizer.firstName}}<br/>
        <input type="submit" ng-click="joinEvent(event)" value="Attending Event"/>
    </span>



<!--join an event-->
<br/><br/><br/><br/><br/>
Join an event:<br/>
Your member id: <input type="number" ng-model="myMemberId"/>
Event id: <input type="number" ng-model="eventIWantToJoinId"/>
<input type="button" ng-click="joinEvent(myMemberId, eventIWantToJoinId)" value="Join"/> <br/>

<br/>

<!--event attendee list-->
Updated attendees at this event: <br/>
<span ng-repeat="currentAttendee in eventAttendees">
{{currentAttendee}} <br/>
</span>

<!--Post a message-->
<br/><br/><br/><br/><br/>
Post a message: <br/>
Date: <input type="date" ng-model="newPostDate"/> <br/>
Title: <input type="text" ng-model="newPostTitle"/><br/>
Body: <textarea rows="10" cols="50" ng-model="bodyOfNewPost"></textarea><br/>
<!--Your email address: <input type="email" ng-model="myMemberEmail"/><br/>-->
<input type="button" ng-click="sendPost(newPostDate, newPostTitle, bodyOfNewPost)" value="Submit"/> <br/>

<br/>

<!--Post List-->
Updated posts: <br/>
<span ng-repeat="currentPost in allPosts">
{{currentPost}} <br/>
</span>

<br/><br/><br/><br/><br/>
Create an organization: <br/>
Organization name: <input type="text" ng-model="newOrganizationName"/><br/>
<input type="button" ng-click="createOrganization(newOrganizationName)" value="Submit"><br/>

</div>


<div ng-if="currentUser">Logged in</div>
</body>
</html>